body {
  background-color: black;
  padding: 1.5em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  box-shadow: 0px 3px 5px rgb(248, 247, 247);
}

div {
  margin-right: 20px;
  font-size: 30px;
  color: rgb(248, 247, 247);
  padding: 0.5em;
  font-weight: bold;
}

img {
  width: 450px;
  position: relative;
  top: 30px;
  border-radius: 20px;
  margin-right: 25px;
}

p {
  position: relative;
  top: 25px;
  font-size: 23px;
  color: rgb(248, 247, 247);
  line-height: 1.3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
