body {
  background-color: rgb(226, 47, 226);
}

.leagues {
  margin-right: 20px;
  font-size: 30px;
  color: rgb(27, 233, 212);
}

p {
  position: relative;
  top: 25px;
  font-size: 23px;
  color: rgb(27, 233, 212);
}

li {
  position: relative;
  top: 20px;
  font-size: 23px;
  color: rgb(27, 233, 212);
}
