body {
  background-color: rgb(148, 7, 113);
  padding: 1.5em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(148, 7, 113);
  box-shadow: 0px 3px 5px rgb(0, 0, 0.24);
}

.tournaments {
  margin-right: 20px;
  font-size: 30px;
  color: rgb(50, 173, 71);
  padding: 0.5em;
  font-weight: bold;
}

h1 {
  font-size: 27px;
  color: rgb(50, 173, 71);
}
